@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://use.typekit.net/cqq6xea.css");

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


:root {
    --theme-light: #f8f8f8;
    --theme-light-grey: #e5e5e5;
    --theme-dark-grey: #151515;
  
    --blue: #287eff;
    --pink: #fc466d;
    --yellow: #ffcc65;
    --green: #64ffa2;
  
    --dark-bg: #040404;
  
    --text: #313131;
    --text-light: #414143;
  
    --text-light-2: #737880;
    --text-light-3: #9fa2a7;
    --text-light-4: #e3e7ee;
    --text-light-5: #f7f7f7;
  
    --easing: cubic-bezier(0.68, 0.28, 0.82, 0.64);
    --easing-slick: cubic-bezier(0.02, 0.98, 0.65, 1.15);
  }
  


body {
    margin: auto;
    font-size: 1rem;
    font-family:  forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-light-2);
    background-color: white;
    scroll-behavior: smooth;
}

nav {
  height: 3rem;
  display: flex;
  background:transparent;
  align-items: center;
  justify-content: space-between;
  padding-left:50px;
  padding-right:50px;
  position:fixed;
  z-index:10;
  margin:auto;
  width:100vw;
  transition: all 0.5s;
}

.nav-scrolled {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  background:transparent;
  align-items: center;
  position:fixed;
  z-index:10;
  margin:auto;
  width:100vw;
  transition: all 0.5s;
}

.scroll {
  background-color: transparent;
}

.fit{
  width:1200px;
  display:flex;
  justify-content: space-between;
}

.logo img {
  height: 1.15rem;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin-left:50px;
}

nav li a {
  text-decoration: none;
  color: var(--text-light);
  font-size:1.2rem;
  font-weight:400;
  text-transform:uppercase;
}

nav li a:hover {
  color: #292929;
}


.breadcrumb{
  margin-top:10%;
  font-size:1.2rem;
  color:var(--text)
}

.breadcrumb a{
  color:var(--text-light-2);
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  body{
      width:90%;
  }
  nav{
  width:90%;    
  }

  .breadcrumb{
    margin-top:15%;
 }
}

.web-fit{
  width:1000px;
  margin:auto;
}

#about-page {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  
  #about {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    width: 1000px;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  
  #about-text {
    color: var(--text-light-2);
    width: 600px;
    line-height: 35px;
    font-size:1.1rem;
  }
  
  #my-photo {
    width: 300px;
    height:auto;
    border-radius: 5px;
  }

  @media only screen and (max-width: 1000px) {
    #my-photo {
      width:200px;
      height:200px;
    }
    #about{
      flex-direction: column;
      width:100%;
    }

    #about-page{
      width:100%;
    }

    #about-text{
      width:100%;
      font-size:1rem;
    }
  }
  
  .title {
    font-family: orpheuspro, serif;
    font-size: 2.5rem;
    font-style: italic;
    margin-top: 6%;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: none;
    color: var(--text);
  }
  
  #exp-line {
    width: 1000px;
    background: linear-gradient(to right, #4f93ff, #ff6e6e);
    opacity: 0.5;
    height: 3px;
    margin-bottom: 20px;
  }
  
  #exp-table {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
  }
  
  .exp-row {
    margin-top:20px;
    margin-bottom:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:30px;
    border-radius:10px;
    border:2px solid var(--text-light-4);
  }
  
  #logo img {
    width: 80px;
  }
  
  #role {
    margin-top: -5px;
    line-height: 30px;
    width: 300px;
    font-size: 1.1rem;
    color: var(--text-light-3);
  }

  #organisation{
    display: flex;
    flex-direction: row;
    width:500px;
    justify-content: space-between;
    align-items: center;
  }
  
  #role-desc {
    width: 400px;
    line-height: 30px;
  }
  
  .rtitle {
    color: var(--text);
    font-weight: 500;
  }
  
  .rpos {
    color: var(--text);
    font-weight: 500;
  }
  
  #proctur {
    width: 100px;
  }

  @media only screen and (max-width: 1000px) {
    #exp-line{
      width:100%;
    }
    #organisation{
      flex-direction: column;
      align-items: flex-start;
    }
    #logo img{
      width:60px;
    }
    #role{
      margin-top:20px;
      width:175px;
      font-size:1rem;
      line-height:30px;
    }
    #role-desc{
      width:100%;
    }
  }
  
  #skill-line {
    width: 1000px;
    background: linear-gradient(to right, #5eebdf, #ffe96a);
    opacity: 0.5;
    height: 3px;
    margin-bottom: 40px;
  }
  
  .skill-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  .skill-column{
    border-radius:10px;
    border:2px solid var(--text-light-4);
    width:200px;
    padding:20px;
    height:auto;
    margin-top:20px;
  }
  
  ul {
    list-style-type: none;
  }
  
  .skill-title {
    margin-bottom: 20px;
    color: var(--text-light);
    font-weight: 500;
  }
  
  .skill-list li {
    margin-top: 10px;
    color: var(--text-light-2);
  }
  
  .back {
    margin: auto;
    font-size: 1.2rem;
    margin-bottom: 100px;
  }
  
  .back a {
    text-decoration: none;
    color: var(--text-light-2);
  }
  
  .back a:hover {
    color:var(--text);
  }

  @media only screen and (max-width: 1000px) {
    #skill-line{
      width:100%;
      margin-bottom: 0px;
    }

    .skill-row{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .skill-title{
      margin-top:35px;
    }
  }


#third-page{
  display: flex;
  height:auto;
  align-items: center;
  padding-top:40px;
  padding-bottom:40px;
  background-color:#e4f3ff;
}

#third-page ul{
  list-style-type: none;
  margin-left:700px;
}

#third-page a{
  text-decoration: none;
  font-size:1.1rem;
  color:var(--text);
  transition: all 0.5s;
  display: inline-block;
  position: relative;
}

#third-page a:after{
  color:var(--blue);
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--blue);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#third-page a:hover:after{
  color:var(--blue);
  transform: scaleX(1);
  transform-origin: bottom left;
}

#third-page a:hover{
  color:var(--blue);
}

#third-page li{
  display: inline;
  margin-left:20px;
}

#third-page p{
  opacity:0.6;
  font-size:1rem;
}

#contact{
  display:flex;
  flex-direction:row;
  width:100%;
  justify-content: space-between;
  align-items: center;
  margin-left:50px;
  margin-right:50px;
}

  