@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://use.typekit.net/cqq6xea.css");

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


:root {
    --theme-light: #f8f8f8;
    --theme-light-grey: #e5e5e5;
    --theme-dark-grey: #151515;
  
    --blue: #287eff;
    --pink: #fc466d;
    --yellow: #ffd82b;
    --green: #64ffa2;
  
    --dark-bg: #040404;
  
    --text: #313131;
    --text-light: #414143;
  
    --text-light-2: #737880;
    --text-light-3: #9fa2a7;
    --text-light-4: #e3e7ee;
    --text-light-5: #f7f7f7;
  
    --easing: cubic-bezier(0.68, 0.28, 0.82, 0.64);
    --easing-slick: cubic-bezier(0.02, 0.98, 0.65, 1.15);
  }
  


body {
    margin: auto;
    font-size: 1rem;
    font-family:  forma-djr-micro, sans-serif;
    color: #313131;
    background-color:#e4f3ff;
    scroll-behavior: smooth;
}

.cursor{
    width:3rem;
    height:3rem;
    border: 2px solid black;
    border-radius:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    pointer-events: none;
}

.img-grow{
    transform:scale(2); 
    background: black ;
}


nav {
    height: 3rem;
    display: flex;
    background:transparent;
    align-items: center;
    justify-content: space-between;
    padding-left:50px;
    padding-right:50px;
    position:fixed;
    z-index:10;
    margin:auto;
    width:100vw;
    transition: all 0.5s;
}

.nav-scrolled {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    background:white;
    align-items: center;
    position:fixed;
    z-index:10;
    margin:auto;
    width:100vw;
    transition: all 0.5s;
}

.scroll {
    background-color: transparent;
}

.fit{
    width:1200px;
    display:flex;
    justify-content: space-between;
}

.logo img {
    height: 1.15rem;
}
  
nav ul {
    list-style-type: none;
}
  
nav li {
    display: inline;
    margin-left:50px;
}
  
nav li a {
    text-decoration: none;
    color: var(--text-light);
    font-size:1.2rem;
    font-weight:400;
    text-transform:uppercase;
}
  
nav li a:hover {
    color: #292929;
}

.web-fit{
    width:1000px;
    margin:auto;
}

#first-page{
    display:flex;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-img img{
    width:900px;
    position:absolute;
    z-index: -5;
    margin-top:-600px;
    margin-left:-100px;
    animation: move 45s ease-in-out infinite;
}

@keyframes move {
    0%   { transform: scale(1)   translate(10px, -30px); }
    38%  { transform: scale(0.8, 1) translate(60vw, 30vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(60vw, 30vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(10px, -30px); }
}
  
.main-title{
    margin-top:-70px;
    font-size: 4.00rem;
    font-weight:500;
    line-height: 80px;
    color:var(--text); 
    position:absolute;
    z-index:5;
    width:800px;
}

.italic{
    font-family: orpheuspro, serif;
    font-style: italic;
    font-weight:400;
}

.me-title{
    font-family: neue-kabel;
    font-size:150px;
    position: fixed;
    z-index:-5;
    margin-left:-7px;
    color: var(--theme-dark-grey);
    opacity: 9%;
    letter-spacing: -2px;
    bottom: 0;
    margin-bottom: 8%;
}

@media only screen and (max-width: 1000px) {
    body{
        width:90%;
    }
    .main-title{
        width:100%;
        font-size:2.7rem;
        line-height:50px;
    }
    .me-title{
        font-size: 7rem;
    }
    nav{
    width:90%;    
    }
}

#second-page{
    background-color:white;
    padding-top:100px;
    padding-bottom:80px;
}


.title {
    font-family: orpheuspro, serif;
    font-size: 2.5rem;
    font-style: italic;
    margin-top: 6%;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: none;
}

.card{width:400px;}
  
  
#work-grid {
    padding-top: 7%;
    padding-bottom: 15%;
    display: flex;
    flex-direction: column;
}


#right img{
    width:400px;
}

#right{
    margin-left:600px;
}

.img-container{
    width:400px;
    height:auto;
    overflow:hidden;
    display: flex;
    justify-content:center;
    align-items: center;
}

.img-container-r{
    width:400px;
    height:auto;
    overflow:hidden;
    display: flex;
    justify-content:center;
    align-items: center;
}

.card:hover,
.card:focus {
    transition: all 500ms ease-in;
    transform: ease-in scale(1.05);
}
  
.card img {
    width: 400px;
    border-radius: 7px;
    position:relative;
}

.hover{
    position:absolute;
    z-index:2;
    display:none;
    width:100px;
    height:100px;
    border-radius:100px;
    background-color:var(--yellow);
    color:#966b10;
    padding-top:40px;
    text-align: center;
    transition: all 1s;
}

.card:hover .hover{
        display: block;
        transition: all 1s;
}

#insighth{
    background-color:var(--green);
    color:#196633;
}

#roverh{
    background-color:var(--pink);
    color:#ffd4ce;
}

#moongfalih{
    background-color:var(--blue);
    color:#cfebfc;
}

#procturh{
    background-color:var(--blue);
    color:#cfebfc;
}

.card img {
    transition: transform 0.5s ease;
}
  
.card img:hover {
    transform: scale(1.1);
}

.card-title {
    width: 340px;
    margin-top: 10px;
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 2px;
    text-align: left;
}
  
.card-about {
    font-weight: 400;
    font-size: 1.1rem;
    width: 450px;
    text-align: left;
    margin-top: 5px;
    color: var(--text-light-2);
}
  
.card-type {
    margin-top: 7px;
    color:var(--text-light-3);
    font-weight: 400;
}


@media only screen and (max-width: 1000px) {

    .title {
      font-size: 1.5rem;
    }
  
    #work-line {
      width: 100%;
      margin-bottom: 50px;
    }
  
    #work-grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .card {
      width: 350px;
      margin-top:20px;
      margin-bottom:50px;
    }
    .card img {
      width: 350px;
      margin-right:50px;
    }
  
    #right {
      margin-left: 0px;
    }
    
    #right img{
        width:350px;
    }
    
    .card-title {
      width: 260px;
      margin-top: 15px;
      font-size: 1.7rem;
      font-weight: 700;
      margin-bottom: 3px;
      text-align: left;
    }
}

/* #second-page{
    height:auto;
}
  
   */

#third-page{
    display: flex;
    height:auto;
    align-items: center;
    padding-top:40px;
    padding-bottom:40px;
}

#third-page ul{
    list-style-type: none;
    margin-left:700px;
}

#third-page a{
    text-decoration: none;
    font-size:1.1rem;
    color:var(--text);
    transition: all 0.5s;
    display: inline-block;
    position: relative;
}

#third-page a:after{
    color:var(--blue);
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--blue);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#third-page a:hover:after{
    color:var(--blue);
    transform: scaleX(1);
    transform-origin: bottom left;
}

#third-page a:hover{
    color:var(--blue);
}

#third-page li{
    display: inline;
    margin-left:20px;
}

#third-page p{
    opacity:0.6;
    font-size:1rem;
}

#contact{
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content: space-between;
    align-items: center;
    margin-left:50px;
    margin-right:50px;
}



@media only screen and (max-width: 1000px) {
    #third-page{
        align-items: center;
    }

    #third-page ul{
        margin-left:30%;
    }

    #third-page p{
        margin-left:30%;
    }
}